<div class="bg-curtain"></div>
<div class="menu"></div>
<div id="drawer">
    <div class="items">
        <div class="drawer-item">HOME</div>
        <div class="drawer-item">GALLERIES</div>
        <div class="drawer-item">ABOUT</div>
        <div class="drawer-item">TEST</div>
        <div class="drawer-item">HOME</div>
        <div class="drawer-item">GALLERIES</div>
        <div class="drawer-item">ABOUT</div>
        <div class="drawer-item">TEST</div>
        <div class="drawer-item">HOME</div>
        <div class="drawer-item">GALLERIES</div>
        <div class="drawer-item">ABOUT</div>
        <div class="drawer-item">TEST</div>
    </div>
</div>
<div id="gallery-target">
    {% include "core/handlers/gallery-content-handler.html" %}
</div>

 <a id="hamburger-icon" href="#" title="Menu">
   <span class="line line-1"></span>
   <span class="line line-2"></span>
   <span class="line line-3"></span>
 </a>

 <div id="fullwidth-video">
     <div class="bg-gradient"></div>
     <div class="fullwidth-video-bg">
         <video id="bg-banner-video" playsinline="" muted="" onplaying="this.controls=false" loop>
             <source src="https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/mm_bg.mp4" type='video/mp4;'>
             <!-- <source src="https://download.videvo.net/videvo_files/video/premium/video0002/small_watermarked/montenegro_beach_sunsetTL4k00_preview.mp4" type='video/mp4;'> -->
         </video>
     </div>
 </div>

 <div class="modal">
     <div class="modal-close">X</div>
     <div class="modal-prev-arrow"><</div>
     <div class="modal-next-arrow">></div>
     <div class="modal-target"></div>
 </div>

<div id="targets"></div>
