<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Miles Morgan Photography</title>

    <meta name="description" content="Beautiful Photography from a Beautiful Man">
    <meta name="author" content="Gallery Island">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static "core/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/menu.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/gallery-index-horiz-scroll.css" %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static "core/css/gallery-index.css" %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static "core/css/gallery-compare.css" %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <script>
        var BASE_URL = "{{BASE_URL}}";
        var GI = {};
    </script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="{% static "core/dist/js/main.bundle.js" %}"></script>
</head>
