<div id="page-header" class="has-video header-style-dark video-started" data-imgready="true"><div class="header-basic style-dark test-class">
<div class="background-element header-wrapper style-color-wayh-bg header-only-text" data-height="100" style="height: 948px;">
<div class="header-bg-wrapper">
<div class="header-bg video uncode-video-container" data-ignore="" data-ratio="1.77589852008" data-provider="youtube" data-video="https://youtu.be/ExBMeVwLKsQ" data-id="19823" style="opacity: 1;"><iframe id="okplayer-19823" style="position: absolute; left: -144.036px; top: -40px; overflow: hidden; z-index: auto; height: 1028px; width: 1968.07px;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/ExBMeVwLKsQ?autohide=1&amp;autoplay=0&amp;cc_load_policy=0&amp;controls=0&amp;enablejsapi=1&amp;fs=0&amp;modestbranding=1&amp;origin=https%3A%2F%2Fandrewstuder.com&amp;iv_load_policy=1&amp;loop=1&amp;showinfo=0&amp;rel=0&amp;wmode=opaque&amp;hd=1&amp;mute=1&amp;widgetid=1"></iframe></div>
<div class="block-bg-overlay style-color-jevc-bg" style="opacity: 0.3;"></div>
</div><div class="header-main-container limit-width">
<div class="header-content header-center header-middle header-align-center" style="padding-top: 84px;">
<div class="header-content-inner blocks-animation" style="opacity: 1;">
<h1 class="header-title font-555555 h1 font-weight-700 text-uppercase"><span class="bottom-t-top animate_when_almost_visible start_animation" data-delay="400">Photography</span></h1>
</div>
</div>
</div><div class="header-scrolldown style-dark"><i class="fa fa-angle-down"></i></div></div>
</div></div>
