{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<style>
        .wilson-logo {
            position: absolute;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
</style>

<img class="wilson-logo" src="{% static 'account/img/wilson.jpg' %}"/>



{% block head_title %}{% trans "Signup" %}{% endblock %}

<h1>{% trans "Right Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
