
.landing-animation {
    top: 0px;
    left: 0px;
    opacity: 1;
    width: 100%;
    color: white;
    height: 100%;
    z-index: 9000;
    font-size: 48px;
    position: absolute;
    pointer-events: none;
    /* background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/videoOverlay.png"); */
    /* background-color: rgba(0,0,0); */
}

.landing-animation .top-half {
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    background-size: contain;
    transform: translateY(0vh);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
    background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/videoOverlayTop.png");
}

.landing-animation .bottom-half {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    height: 100%;
    background-size: contain;
    transform: translateY(0vh);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
    background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/videoOverlayBottom.png");
}

.landing-animation.open .top-half {
    transform: translateY(-100vh);
}

.landing-animation.open .bottom-half {
    transform: translateY(100vh);
}

.landing-animation .logo-img {
    height: 500px;
    opacity: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
}


.landing-animation.loaded .logo-img {
    transform: translateY(0px);
}

.landing-animation .index-joker-text-block {
    opacity: 1;
    transition: opacity 1.6s cubic-bezier(.25, .1, .25, 1);
}

.landing-animation .index-joker-text-block .text,
.landing-animation .index-joker-text-block h1 {
    transform: translateY(0);
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
}

.landing-animation.loaded .index-joker-text-block {
    transition-delay: .8s;
    opacity: 0;
}

.landing-animation.loaded .index-joker-text-block .text,
.landing-animation.loaded .index-joker-text-block h1 {
    transition-delay: 1s;
    transform: translateY(30px);
}
