@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .logo-container {
        position: fixed;
        left: 50%;
        top: -25px;
        transform: translate(-50%);
    }


    body.view-gallery .logo-container {
        display: none;
    }

}



@media (max-width: 2000px) {
    body.view-gallery #hamburger-icon {
        top: 36px;
        left: 36px;
    }

    .view-gallery .gallery-title {
        right: 36px;
        top: 36px;
    }
}
