@media (max-width: 767px) {
    .menu {
        display: none;
        z-index: 1000;
    }

    .logo-container {
        margin-top: 20px;
        flex-direction: row-reverse;
    }

    .logo-container .logo-img {
        display: none;
    }

    .logo-text {
        font-size: 20px;
        letter-spacing: 4px;
    }

    .container {
        margin: 0px 10px;
    }

    body.view-home #hamburger-icon {
        display: block;
    }

    #hamburger-icon {
        height: 20px;
        display: block;
    }

    #hamburger-icon .line {
        width: 24px;
    }

    #hamburger-icon.active .line-1 {
        transform: translateY(10px) translateX(0) rotate(45deg);
    }

    #hamburger-icon.active .line-3 {
        transform: translateY(-10px) translateX(0) rotate(-45deg);
    }



    #drawer .drawer-item {
        padding-bottom: 15px;
    }
}



@media (max-width: 2000px) {
    body.view-gallery #hamburger-icon {
        top: 36px;
        left: 36px;
    }

    .view-gallery .gallery-title {
        right: 36px;
        top: 36px;
    }
}
