body.gallery-view  .menu {
    display: none;
}

.menu {
    top: 50%;
    z-index: 100;
    color: white;
    cursor: pointer;
    font-weight: 300;
    position: fixed;
    letter-spacing: .25em;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.menu .menu-item {
    opacity: .4;
    font-size: 1em;
    position: relative;
    padding-left: 6rem;
    line-height: 4.5rem;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
    -webkit-transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-transform 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-filter 1s cubic-bezier(0.55, 0, 0.1, 1), font-size .3s;
    transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-transform 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-filter 1s cubic-bezier(0.55, 0, 0.1, 1), font-size .3s;
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1),filter 1s cubic-bezier(0.55, 0, 0.1, 1),opacity 1s cubic-bezier(0.55, 0, 0.1, 1), font-size .3s;
    transition: transform 1s cubic-bezier(0.55, 0, 0.1, 1),filter 1s cubic-bezier(0.55, 0, 0.1, 1),opacity 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-transform 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-filter 1s cubic-bezier(0.55, 0, 0.1, 1), font-size .3s;
}

.menu .menu-item:before {
    background-color: #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 4rem;
    height: 0.1rem;
    margin: auto;
    content: '';
    -webkit-transition: background-color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: background-color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu .menu-item:hover, .menu .menu-item.active  {
    opacity: 1;
    font-size: 1.2rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

body.gallery-view .menu .menu-item {
    font-size: 0rem;
}

body.gallery-view .menu:hover .menu-item {
    font-size: 1.2rem;
}

body.gallery-view .menu-item.active {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
}

body.gallery-view .menu:hover .menu-item.active {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
}
