body {
    overflow-x: hidden;
    background: rgb(0,0,0);
    font-family: 'Lato', sans-serif;
}

/* BG Video */
#fullwidth-video{
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    position: fixed;
    min-height:100vh;
}
#fullwidth-video .fullwidth-video-bg {
    position: absolute;
    z-index: -10;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    /* background-image:url(http://mysite.com/assets/images/bg/myvideobg.jpg); */
}
#fullwidth-video video {
    margin: auto; position: absolute; z-index: 1; top: 50%; left: 0%;
    transform: translate(0%, -50%); visibility: visible;
    opacity: 1; width: 100%; height: 100%; object-fit: cover;
}

/** For Edge**//
@supports (-ms-ime-align:auto){ #fullwidth-video video
{ object-fit:none; margin:none;position:inherit;z-index:1;
top:50%;left:0%;transform:translate(0%, -50%);height:auto;width:100%; } }

.bg-gradient {
    z-index: -9;
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(rgba(255,255,255,0), #000000);
}

/* Curtain */

.bg-curtain {
    z-index: 95;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2B2D42;
    transition: all 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transform: translateX(100%);
}

.menu-running .bg-curtain {
    -webkit-animation: 1.6s cubic-bezier(.86, 0, .07, 1);
    animation: 1.6s cubic-bezier(.86, 0, .07, 1);
    -webkit-animation-name: run-curtain;
    animation-name: run-curtain
}

@-webkit-keyframes run-curtain {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes run-curtain {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}




/* Border Elements */
.container {
    margin: 0px 20px;
    position: relative;
}

.border-elements {
    z-index: 100;
    color: white;
    position: fixed;
    top: 20px;
    left: 80px;
}

.logo-img {
    height: 140px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/mm_logo.png");
}

.logo-text {
    font-size: 26px;
    letter-spacing: 8px;
    white-space: nowrap;
    padding-left: 12px;
    margin-top: -20px;
}

.border-elements .logo-container {
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
}

.border-elements .logo-container img {
    left: 50%;
    height: 95%;
    position: absolute;
    transform: translateX(-51.5%);
}

.border-elements .tagline {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.border-elements .funny {
    font-size: 14px;
    opacity: .7;
}

/* Galleries Menu */
.galleries-index {
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    margin-left: -100%;
    transition: all .3s;
}
.galleries-index::-webkit-scrollbar { width: 0 !important }
.galleries-index.open {
    margin-left: 40%;
}

.gallery-list {
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    height: auto;
    width: 100%;
    font-weight: 200;
    list-style: none;
    font-style: normal;
    z-index: 2;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery-link {
    width: 100%;
    height: 120px;
    font-size: 3rem;
    position: relative;
    letter-spacing: 10px;
    text-overflow: nowrap;
    text-transform: uppercase;
    color: rgba(187,194,229,.3);
}

.gallery-link a {
    text-decoration: none;
    color: rgba(187,194,229,.3);
}

.gallery-link:hover {
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 1vh currentcolor;
}

.gallery-link:hover a {
    color: #fff;
    text-shadow: 0 0 1vh currentcolor;
}











.LandingAnimation {
    top: 0px;
    left: 0px;
    opacity: 1;
    width: 100%;
    color: white;
    height: 100%;
    z-index: 9000;
    font-size: 48px;
    position: absolute;
    pointer-events: none;
    /* background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/videoOverlay.png"); */
    /* background-color: rgba(0,0,0); */
}

.LandingAnimation .top-half {
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    background-size: contain;
    transform: translateY(0vh);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
    background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/videoOverlayTop.png");
}

.LandingAnimation .bottom-half {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    height: 100%;
    background-size: contain;
    transform: translateY(0vh);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
    background-image: url("https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/videoOverlayBottom.png");
}

.LandingAnimation.open .top-half {
    transform: translateY(-100vh);
}

.LandingAnimation.open .bottom-half {
    transform: translateY(100vh);
}

.LandingAnimation .logo-img {
    height: 500px;
    opacity: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
}


.LandingAnimation.loaded .logo-img {
    transform: translateY(0px);
}

.LandingAnimation .index-joker-text-block {
    opacity: 1;
    transition: opacity 1.6s cubic-bezier(.25, .1, .25, 1);
}

.LandingAnimation .index-joker-text-block .text,
.LandingAnimation .index-joker-text-block h1 {
    transform: translateY(0);
    transition: transform 1.6s cubic-bezier(.25, .1, .25, 1);
}

.LandingAnimation.loaded .index-joker-text-block {
    transition-delay: .8s;
    opacity: 0;
}

.LandingAnimation.loaded .index-joker-text-block .text,
.LandingAnimation.loaded .index-joker-text-block h1 {
    transition-delay: 1s;
    transform: translateY(30px);
}
