body {
    overflow-x: hidden;
    font-family: "Montserrat";
    background: rgb(255,255,255);
}

/* BG Video */
#fullwidth-video{
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    position: fixed;
    min-height:100vh;
}
#fullwidth-video .fullwidth-video-bg {
    position: absolute;
    z-index: -10;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    /* background-image:url(http://mysite.com/assets/images/bg/myvideobg.jpg); */
}
#fullwidth-video video {
    margin: auto; position: absolute; z-index: 1; top: 50%; left: 0%;
    transform: translate(0%, -50%); visibility: visible;
    opacity: 1; width: 100%; height: 100%; object-fit: cover;
}

/** For Edge**//
@supports (-ms-ime-align:auto){ #fullwidth-video video
{ object-fit:none; margin:none;position:inherit;z-index:1;
top:50%;left:0%;transform:translate(0%, -50%);height:auto;width:100%; } }

.bg-gradient {
    z-index: -9;
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(rgba(255,255,255,0), #000000);
}

/* Curtain */

.bg-curtain {
    z-index: 95;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2B2D42;
    transition: all 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transform: translateX(100%);
}

.menu-running .bg-curtain {
    -webkit-animation: 1.6s cubic-bezier(.86, 0, .07, 1);
    animation: 1.6s cubic-bezier(.86, 0, .07, 1);
    -webkit-animation-name: run-curtain;
    animation-name: run-curtain
}

@-webkit-keyframes run-curtain {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes run-curtain {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}




/* MAIN */
.container {
    margin: 0px 20px;
    position: relative;
}

.main {
    z-index: 100;
    color: white;
    position: fixed;
    top: 20px;
    left: 80px;
}

.logo-text {
    white-space: nowrap;
    font-size: .5em;
    margin-top: 135px;
    letter-spacing: 8px;
    padding-left: 3px;
}

.main .name {
    display: flex;
    font-size: 48px;
    overflow: hidden;
    text-transform: uppercase;
}

.main .name img {
    left: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
}

.main .tagline {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.main .funny {
    font-size: 14px;
    opacity: .7;
}

/* Galleries Menu */
.gallery-index {
    right: 0;
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    margin-right: -100%;
    transition: all .3s;
}
.gallery-index.open {
    margin-right: 0;
}

.gallery-list {
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    height: auto;
    width: 100%;
    font-weight: 200;
    list-style: none;
    font-style: normal;
    z-index: 2;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery-link {
    width: 100%;
    height: 140px;
    line-height: 66px;
    font-size: 4.4rem;
    position: relative;
    text-overflow: nowrap;
    text-transform: uppercase;
    color: rgba(187,194,229,.3);
}

.gallery-link a {
    text-decoration: none;
    color: rgba(187,194,229,.3);
}

.gallery-link:hover {
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 1vh currentcolor;
}

.gallery-link:hover a {
    color: #fff;
    text-shadow: 0 0 1vh currentcolor;
}
