body {
    overflow: hidden;
    font-family: "Montserrat";
    background: rgb(255,255,255);
}

/* BG Video */
#fullwidth-video{
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    position: fixed;
    min-height:100vh;
}
#fullwidth-video .fullwidth-video-bg {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-image:url(http://mysite.com/assets/images/bg/myvideobg.jpg);
}
#fullwidth-video video {
    margin: auto; position: absolute; z-index: 1; top: 50%; left: 0%;
    transform: translate(0%, -50%); visibility: visible;
    opacity: 1; width: 100%; height: 100%; object-fit: cover;
}

/** For Edge**//
@supports (-ms-ime-align:auto){ #fullwidth-video video
{ object-fit:none; margin:none;position:inherit;z-index:1;
top:50%;left:0%;transform:translate(0%, -50%);height:auto;width:100%; } }

.bg-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(rgba(255,255,255,0), #000000);
}

/* MAIN */
.container {
    margin: 0px 20px;
    position: relative;
}

.main {
    z-index: 2;
    color: white;
}

.main .name {
    width: 120px;
    height: 120px;
    font-size: 48px;
    margin-top: 60px;
    overflow: hidden;
    position: absolute;
    margin-left: 100px;
}

.main .name img {
    left: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
}

/* Galleries Menu */
.gallery-index {
    right: 0;
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    margin-right: -100%;
    transition: all .3s;
}
.gallery-index.open {
    margin-right: 0;
}

.gallery-container {
    margin-top: 20%;
    margin-bottom: 20%;
    position: relative;
    height: auto;
    width: 100%;
    font-weight: 200;
    list-style: none;
    font-style: normal;
    z-index: 2;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery-link {
    width: 100%;
    height: 140px;
    line-height: 66px;
    position: relative;
    text-overflow: nowrap;
    color: rgba(187,194,229,.3);
    font-size: 4.4rem;
}

.gallery-link a {
    text-decoration: none;
    color: rgba(187,194,229,.3);
}

.gallery-link:hover {
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 1vh currentcolor;
}

.gallery-link:hover a {
    color: #fff;
    text-shadow: 0 0 1vh currentcolor;
}
