<!DOCTYPE html>
<html lang="en">
    {% include "core/partials/head.html" %}
    <body class="gallery-view">
        <div class="top-container">
            {% include "core/partials/body-constants.html" %}
            <div class="container">
                {% include "core/partials/container-constants.html" %}
            </div>
        </div>
    </body>
    <script>
        $('#fullwidth-video').hide();
        $('#gallery-target').fadeIn();
        GI.activePage = 'gallery-{{gallery.type}}';
        GI.isLandingPage = false;
        $(document).ready(function(){
            initCore();
        });
    </script>
</html>
