<!DOCTYPE html>
<html lang="en">
    {% include "core/partials/head.html" %}
    <body class="home">
        <!-- <div class="top-container"> -->
            {% include "core/partials/landing-animation.html" %}
            {% include "core/partials/body-constants.html" %}
            <div class="container">
                {% include "core/partials/container-constants.html" %}
            </div>
        <!-- </div> -->
    </body>
    <script>
        GI.entryPage = 'home';
        $(document).ready(function(){
            initCore();
        });
    </script>
</html>
