<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Miles Morgan Photography</title>

    <meta name="description" content="Beautiful Photography from a Beautiful Man">
    <meta name="author" content="Gallery Island">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static "core/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/menu.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/gallery.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <script>
        var BASE_URL = "{{BASE_URL}}";
    </script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="{% static "core/js/main.js" %}"></script>
</head>

<body class="loaded">
    {% block content %}

    <div class="bg-curtain"></div>
    <div class="menu">
        <div class="menu-item" data-target='home'>Home</div>
        <div class="menu-item link-to-gallery" data-target='gallery-index'>Galleries</div>
        <div class="menu-item" data-target="about-section">Map</div>
        <div class="menu-item" data-target="about-section">About</div>
        <div class="menu-item" data-target='press-section'>Contact</div>
    </div>
    <div id="fullwidth-video">
        <div class="bg-gradient"></div>
        <div class="fullwidth-video-bg">
            <video playsinline="" muted="" onplaying="this.controls=false" autoplay loop>
                <source src="https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/mm_bg.mp4" type='video/mp4;'>
                <!-- <source src="https://download.videvo.net/videvo_files/video/premium/video0002/small_watermarked/montenegro_beach_sunsetTL4k00_preview.mp4" type='video/mp4;'> -->
            </video>
        </div>
    </div>

    <div id="gallery-container"></div>
    <div class="container">
        <div class="main">
            <div class="name">
                <img alt="Logo with 2 M's for Miles Morgan" src="https://galleryisland.s3-us-west-2.amazonaws.com/static/manual/mm_logo.png">
                <div class='logo-text'>Miles Morgan</div>
            </div>

            <div class="tagline">
                <div class="funny">Powered by Chocolate Chip Cookies</div>
            </div>
        </div>
    </div>
    <div class="link-target gallery-index">
        <div class="gallery-header"></div>
        <div class="gallery-list">
            {% for gallery in galleries %}
                <!-- <li class="gallery-link">{{gallery.title}}</li> -->
                <div class="gallery-link"
                    data-id="{{gallery.id}}"
                    data-slug="{{gallery.slug}}"
                    data-href="/gallery/{{gallery.slug}}">{{gallery.title}}</div>
            {% endfor %}

            <!-- <li class="gallery-link">New Additions</li>
            <li class="gallery-link">Personal Favorites</li>
            <li class="gallery-link">Iceland and Norway</li>
            <li class="gallery-link">Lava and Light</li>
            <li class="gallery-link">Alpine Environments</li>
            <li class="gallery-link">Rivers and Waterfalls</li>
            <li class="gallery-link">Southwest USA</li>
            <li class="gallery-link">Ocean Motion</li>
            <li class="gallery-link">Other Areas</li> -->
        </div>
    </div>
    {% endblock %}
</body>
