<!DOCTYPE html>
<html lang="en">
    {% include "core/partials/head.html" %}
    <body class="home-target">

            {% include "core/partials/body-constants.html" with load_masonry_gallery=True %}
            <div class="container">
                {% include "core/partials/container-constants.html" %}
            </div>

    </body>
    <script>
        $('#fullwidth-video').hide();
        $('#gallery-target').fadeIn();
        GI.activePage = 'masonry-gallery';
        GI.isLandingPage = false;
        $(document).ready(function(){
            initCore();
        });
    </script>
</html>
